my_submission/ckpts/modelA/step100000_seed1.ckpt filter=lfs diff=lfs merge=lfs -text
my_submission/ckpts/modelA/step100000_seed0.ckpt filter=lfs diff=lfs merge=lfs -text
my_submission/ckpts/modelA/step100000_seed2.ckpt filter=lfs diff=lfs merge=lfs -text
my_submission/ckpts/modelB/step150000_seed0.ckpt filter=lfs diff=lfs merge=lfs -text
my_submission/ckpts/modelB/step150000_seed2.ckpt filter=lfs diff=lfs merge=lfs -text
my_submission/ckpts/modelB/step150000_seed1.ckpt filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10608/10608_music.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10608/10608_dialog.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10608/10608_effect.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10702/10702_dialog.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10702/10702_effect.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10702/10702_music.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10847/10847_music.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10847/10847_dialog.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10847/10847_effect.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10870/10870_music.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10870/10870_effect.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10870/10870_dialog.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10042/10042_music.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10042/10042_dialog.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10042/10042_effect.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10647/10647_dialog.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10647/10647_music.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10647/10647_effect.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10033/10033_music.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10033/10033_dialog.wav filter=lfs diff=lfs merge=lfs -text
my_submission/outputs/10033/10033_effect.wav filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230323_104312-vwzkou4u/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230323_104312-vwzkou4u/run-vwzkou4u.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230307_150708-t316glr7/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230307_150708-t316glr7/run-t316glr7.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230205_120624-59ldfrot/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230205_120624-59ldfrot/run-59ldfrot.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230412_003121-qnk129b6/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230412_003121-qnk129b6/run-qnk129b6.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230128_194339-3ind4dmd/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230128_194339-3ind4dmd/run-3ind4dmd.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230329_105451-msor17wm/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230329_105451-msor17wm/run-msor17wm.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230318_121751-neqqv6mg/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230318_121751-neqqv6mg/run-neqqv6mg.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230127_043242-q2awposf/run-q2awposf.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230127_043242-q2awposf/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230125_105303-e1dibtoy/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230125_105303-e1dibtoy/run-e1dibtoy.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230407_094112-z2omo80u/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230407_094112-z2omo80u/run-z2omo80u.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230127_162045-jbjgdxn4/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230127_162045-jbjgdxn4/run-jbjgdxn4.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230221_181548-qzeg7ej2/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230221_181548-qzeg7ej2/run-qzeg7ej2.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230217_112636-rec9axr2/run-rec9axr2.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230217_112636-rec9axr2/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230414_104642-v6yf043r/run-v6yf043r.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230414_104642-v6yf043r/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230210_235301-cqrhqtaf/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230210_235301-cqrhqtaf/run-cqrhqtaf.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230227_022321-b2zrn4fb/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230227_022321-b2zrn4fb/run-b2zrn4fb.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230212_154834-w257ocnd/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230212_154834-w257ocnd/run-w257ocnd.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230329_111538-h0lo928q/logs/debug-internal.log filter=lfs diff=lfs merge=lfs -text
my_submission/src/wandb/run-20230329_111538-h0lo928q/run-h0lo928q.wandb filter=lfs diff=lfs merge=lfs -text
my_submission/ckpts/tfc_tdf/step30000_seed0.ckpt filter=lfs diff=lfs merge=lfs -text
my_submission/ckpts/tfc_tdf/step30000_seed2.ckpt filter=lfs diff=lfs merge=lfs -text
my_submission/ckpts/tfc_tdf/step30000_seed1.ckpt filter=lfs diff=lfs merge=lfs -text
